package components
templ ChatPage(currentUser string) {
    <div>
        <div id="channel-list" hx-get="/channels" hx-trigger="load, every 10s" hx-swap="innerHTML">
            Loading Channels...
        </div>        

        <div id="user-list" hx-get="/online-users" hx-trigger="load, every 10s" hx-swap="innerHTML">
            Loading users...
        </div>        
    </div>
}

