package components

templ LoginForm() {
<form action="/login" method="POST">
  <input name="username" type="name" placeholder="Username" required />
  <input name="pw" type="password" placeholder="Password" required />
  <button type="submit">Login</button>
</form>
}
