package components

import "auth/db/models"


templ UserList(users []models.User) {
    <ul>
        for _, user := range users {
            <li>
              <a href={templ.SafeURL("/chat/" + user.Username)}>
                {user.Username}
              </a>
            </li>
        }
    </ul>
}

